---
import Grid from '@components/molecule/Grid.astro'
import TextBox from '@components/molecule/TextBox.astro'
import SkillCard from '@components/organism/SkillCard.astro'
import Subtitle from '@components/organism/Subtitle.astro'
import skill from '@yaml/skill'
---

<div class="container">
  <Subtitle title="Skill" />
  <TextBox maxWidth="100%">
    {skill.description}
  </TextBox>
  <Grid minWidth="250px" maxWidth="350px">
    {
      skill.list
        .slice(0, 12)
        .map(skill => (
          <SkillCard
            name={skill.name}
            icon={skill.icon}
            type={skill.type}
            level={skill.level}
          />
        ))
    }
  </Grid>
</div>

<style>
  .container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    width: 100%;
  }
</style>
